{% extends "encyclopedia/layout.html" %}

{% block header %}
<h1> {{title}} </h1>
{% endblock %}

{% block nav %}
<div>

</div>
{% endblock %}


{% block body %}

<div>
    {{ pagebody | safe }}   
        <!-- Pass the title value through while retaining the original formatting and design -->
        <form action="{% url 'edit' %}" method ='POST'>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-lg" name="title" value="{{title}}"> edit </button>
        </form>
</div>

{% endblock %}